;
; BIND data file for local loopback interface
;
$TTL    86400
@   IN  SOA ns.licenta2024atm.com. root.licenta2024atm.com. (
            2       ; Serial #increment
        86400       ; Refresh
         3600       ; Retry
       604800       ; Expire
        86400 )     ; Negative Cache TTL
;

;Name Server Information 
@        IN      NS      ns.licenta2024atm.com.

;IP address of Name Server
ns      IN      A       {{ public_ip_address }}

;A – Record HostName To Ip Address 
nginx    IN       A      {{ public_ip_address }}
registry    IN       A      {{ public_ip_address }}

;CNAME record 
www     IN      CNAME   nginx.licenta2024atm.com.