zone "licenta2024atm.com" IN {
 type master;
 file "/etc/bind/licenta2024atm.com.db";
 allow-update {none;};
};

zone "{{ private_ip_address.split('.')[:-1][::-1] | join('.') }}.in-addr.arpa" {
  type master;
  file "/etc/bind/r.licenta2024atm.com.db";
  allow-update {none;};
};