$TTL    86400 
@       IN      SOA     ns.licenta2024atm.com. root.licenta2024atm.com. ( 
                         200101         ; Serial 
                         21600          ; Refresh 
                         3600           ; Retry 
                         604800         ; Expire 
                         86400 )        ; Negative Cache TTL 
; 

;Name Server Information 
@       IN      NS     ns.licenta2024atm.com. 
;Reverse lookup for Name Server 
{{ public_ip_address.split('.')[-1]}}      IN      PTR    ns.licenta2024atm.com. 
;PTR Record IP address to HostName 
{{ public_ip_address.split('.')[-1]}}     IN      PTR    www.licenta2024atm.com.
{{ public_ip_address.split('.')[-1]}}     IN      PTR    registry.licenta2024atm.com.
