server {
    listen 80;
    listen [::]:80;
    server_name registry.licenta2024atm.com;
    return 301 https://registry.licenta2024atm.com$request_uri;
}
server {
        listen 443 http2 ssl;
        listen [::]:443 http2 ssl;
        server_name registry.licenta2024atm.com;
        client_max_body_size 20000M;
        
        ssl_certificate /etc/letsencrypt/live/licenta2024atm.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/licenta2024atm.com/privkey.pem;

        location / {
            proxy_buffering off;
            proxy_redirect          off;
            proxy_set_header        X-Forwarded-Proto https;
            proxy_set_header        Host              $http_host;
            proxy_set_header        X-Real-IP         $remote_addr;
            proxy_set_header        X-Forwarded-For   $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Ssl   on;

            proxy_pass http://{{ gitlab_ip }};
        }
}
