server {
    listen 80;
    listen [::]:80;
    server_name www.licenta2024atm.com;
    return 301 https://www.licenta2024atm.com$request_uri;
    client_max_body_size 100M;
}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    client_max_body_size 100M;
    server_name www.licenta2024atm.com;

    ssl_certificate /etc/letsencrypt/live/licenta2024atm.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/licenta2024atm.com/privkey.pem;

    location /gitlab {
        proxy_buffering off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_pass http://{{ gitlab_ip }}:80/gitlab;
    }

}
